@model System.Collections.Generic.List<Blog.Models.ApplicationUserViewModel>

@{
    ViewBag.Title = "All Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    All Users
</h2>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Is Blocked</th>
        <th scope="col">Awards</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <th scope="row">@user.FullName</th>
            <td>@user.Email</td>
            <td>@user.IsUserBlocked</td>
            <td>
                <ul class="awards">
                    @foreach (var award in user.Awards)
                    {
                        <li>@award.Name</li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "User", routeValues: new {id = user.Id}, htmlAttributes: new {@class = "btn btn-success"})
            </td>
        </tr>
    }
    </tbody>
</table>
