@model Blog.Models.AwardEditViewModel

@{
    ViewBag.Title = "Edit award";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit award - "@Model.Name"</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { Type="hidden" }})
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }})
        @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Change</button>
}
