@model Blog.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@if (Model.User.IsUserBlocked)
{
    <br>
    <div class="alert alert-danger" role="alert">
        Your account has been blocked!
        @if (User.IsInRole("author"))
        {
            <span>You cannot add / edit / delete articles!</span>
        }
        You cannot add comments!
    </div>
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Writed comments:</dt>
        <dd>@Model.User.CommentsWriteCount</dd>
        <dt>Readed articles:</dt>
        <dd>@Model.User.PostsReadCount</dd>
        <dt>Writed articles:</dt>
        <dd>
            @if (!User.IsInRole("author"))
            {
                <div class="alert alert-warning" role="alert">
                    In order to become an author, you need to read 10 articles and write 10 comments!
                </div>
            }
            else
            {
                @Model.User.PostsWriteCount
            }
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Status:</dt>
        <dd>
            @if (User.IsInRole("admin"))
            {
                <span>Administrator</span>
            }
            else if (User.IsInRole("author"))
            {
                <span>Author</span>
            }
            else if (User.IsInRole("user"))
            {
                <span>User</span>
            }
        </dd>
        <dt>Is Blocked:</dt>
        <dd>@Model.User.IsUserBlocked</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Full Name:</dt>
        <dd>@Model.User.FullName</dd>
        <dt>Email:</dt>
        <dd>@Model.User.Email</dd>
        <dt></dt>
        <dd>
            [@Html.ActionLink("Edit", "EditMyAccount", "User")]
        </dd>
    </dl>
</div>
